/*** start sticky-footer stuff ***/
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #282828;
}
.footer .col-sm {
    padding-bottom: 0;
}
.footer .row {
    padding-bottom: 10px;
    padding-top: 10px;
}
/*** end sticky-footer stuff ***/

.top-card-row {
    margin-bottom: 20px;
    padding-bottom: 60px;
    padding-top: 30px;
}