h1, h2, h3, h4, h5, h6 {
  font-family: 'Share Tech', sans-serif;
}

p, div {
    font-family: 'Share Tech', sans-serif;
    font-size: 16px;
}

.banner{
  background-size: 100% auto;
  background-image: url(../images/banner1.jpg);
  height: 150px;
}

.banner-content{
  height: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.banner-content > img{
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  padding-top: 7%;
}

.intro{
  padding-top: 2%;
  padding-bottom: 2%;
}

.skills{
  background-color: #f9eaea;
}

.skills-info{
  padding-bottom: 40px;
  display: inline;
}

.skills-info > h1{
  float: left;
}

.skills-info > ul{
  float: left;
}

.project{
  background-color: azure;
  padding: 3%;

}

.project-image > img{
  max-height: 100%;
  max-width: 100%;
  display: inline-block;
}

.contact{
  background-color: lightgrey;
  padding: 40px 0px;
}

.vcenter{
  display: flex;
  align-items: center;
}

.social{
  padding: 10px 100px;
  background-color: black;
}

.social-buttons > img{
  width: 60px;
  height: 60px;
  background-color: orange;
}

.ender{
  background-color: black;
}

.ender > img{
  width: 40px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: -5px;
  margin-right: 10px;
  margin-left: 20px;
}

.ender > hr{
  margin-left: 20px;
  margin-right: 20px;
}

.ender > h3{
  color:white;
  margin-left: 20px;
}
